@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  background: url(../images/cover-bg.png) center/cover no-repeat;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.efeito-vidro {
  width: 100%;
  height: 90%;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px rgba(31, 50, 81, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); /* Compatibilidade com navegadores WebKit */
  border-radius: 28px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  color: #d7e7ff;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-one {
  display: flex;
  justify-content: space-between;
}
.line-one .title {
  font-size: 60px;
  color: #1f3251;
  font-weight: medium;
  align-content: flex-end;
}
.line-one .title .title-orange {
  color: #f24e1e;
  font-weight: bold;
}
.line-one .img-card-qr {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.line-one .img-card-qr .img-card-qr-code {
  width: 150px;
}
.line-one .img-card-qr .btn-work {
  background-color: #f24e1e;
  border: none;
  border-radius: 20px;
  font-weight: normal;
  width: 150px;
  color: #ffffff;
}

.description {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.description .description-content {
  flex-grow: 1;
}
.description .tag {
  margin-bottom: 1rem;
}
.description .tag button {
  color: #0d6efd !important;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  padding: 6px 26px;
  margin: 4px;
  cursor: default;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.description .text-body {
  font-size: 16px;
  font-weight: 500 !important;
  color: #1f3251 !important;
  margin-bottom: 1rem;
}
.description .user {
  color: #1f3251;
  margin-top: auto;
}
.description .user .text-create {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
}
.description .user .user-link {
  display: flex;
  align-items: center;
}
.description .user .user-link img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.description .user .user-link .text-user {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  line-height: 35px;
}

.card {
  background-color: #ffffff;
  border: none !important;
}
.card .card-title {
  font-family: "Outfit", sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #1f3251 !important;
}
.card .card-text {
  font-family: "Outfit", sans-serif;
  font-size: 16px !important;
  font-weight: 400;
  color: #68778d !important;
}
.card #qrcode {
  position: absolute;
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  z-index: 10;
}
.card #default-image {
  z-index: 1;
  width: 100%; /* Mantém o tamanho da imagem responsivo */
  height: auto; /* Mantém a proporção */
}
@keyframes granulado {
  0% {
    filter: blur(10px) brightness(2) contrast(0.5); /* Começa desfocado e brilhante */
    opacity: 0;
  }
  100% {
    filter: blur(0) brightness(1) contrast(1); /* QR Code nítido no final */
    opacity: 1;
  }
}
.card .qrcode-animation {
  animation: granulado 1s ease-out forwards;
}

.chanels {
  font-family: "Outfit", sans-serif;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chanels .chanels-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chanels h2 {
  font-size: 32px;
  font-weight: 600;
  color: #1f3251;
  text-align: center;
  margin-bottom: 100px;
}
.chanels .arrow-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.chanels .pictures-arrow {
  height: 180px;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left bottom;
     object-position: left bottom;
}

footer {
  font-size: 11px;
  text-align: center;
  padding: 10px;
}
footer a {
  color: hsl(228, 45%, 44%);
}

button {
  font-family: "Outfit", sans-serif !important;
  font-size: 13px !important;
  font-weight: 700;
  color: #ffffff !important;
}

.user {
  color: #1f3251;
}
.user .text-create {
  font-size: 14px;
  font-weight: default;
}
.user .user-link {
  display: flex !important;
  align-items: center !important;
  margin-top: 5px;
}
.user .user-link img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.user .user-link .text-user {
  font-size: 16px;
  font-weight: bold;
  line-height: 35px;
}

@media (max-width: 992px) {
  .line-one .col-md-8,
  .line-one .col-md-4 {
    width: 100%;
  }
  .line-one .title {
    font-size: 42px;
    margin-top: 10px !important;
  }
  .line-one .img-card-qr {
    display: none;
  }
  .line-two .chanels-content,
  .line-two .arrow-container {
    display: none;
  }
}
.line-two {
  margin-top: 2rem;
}

.card {
  margin: 0 auto;
}

@media (max-width: 576px) {
  .input-group {
    flex-direction: column;
  }
  .input-group .form-control,
  .input-group .btn {
    width: 100%;
    margin-top: 0.5rem;
  }
  .title {
    font-size: 32px !important;
    margin-bottom: 30px !important;
  }
}/*# sourceMappingURL=style.css.map */