@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: #ffffff;
  --slate-300: #d6e2f0;
  --slate-500: #68778d;
  --slate-900: #1f3251;
}

body {
  background-color: var(--slate-300) !important;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--white);
  border: none !important;
}

.card-title {
  font-family: "Outfit", sans-serif;
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  color: var(--slate-900) !important;
}

.card-text {
  font-family: "Outfit", sans-serif;
  font-size: 16px !important;
  font-weight: 400;
  font-style: normal;
  color: var(--slate-500) !important;
}

footer {
  font-size: 11px;
  text-align: center;
  padding: 10px;
}

footer a {
  color: hsl(228, 45%, 44%);
}

button {
  font-family: "Outfit", sans-serif !important;
  font-size: 13px !important;
  font-weight: 700;
  font-style: normal;
  color: var(--white) !important;
}

/* Centralizando e sobrepondo o QR code à imagem */
#qrcode {
  position: absolute;
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(
    -50%,
    -50%
  ); /* Garante que o centro do QR code coincida com o centro da imagem */
  width: 150px;
  height: 150px;
  z-index: 10;
}

#default-image {
  z-index: 1;
  width: 100%; /* Mantém o tamanho da imagem responsivo */
  height: auto; /* Mantém a proporção */
}

@keyframes granulado {
  0% {
    filter: blur(10px) brightness(2) contrast(0.5); /* Começa muito desfocado e brilhante */
    opacity: 0;
  }
  100% {
    filter: blur(0) brightness(1) contrast(1); /* QR Code nítido no final */
    opacity: 1;
  }
}

.qrcode-animation {
  animation: granulado 1s ease-out forwards; /* Aplica a animação granular */
}
